@import 'styles/colors.scss';

@keyframes wobble {
  0% {
    // transform: scale(1);
    transition: transform 250ms, opacity 400ms;
  }
  50% {
    // transform: scale(1.2);
    transform: scale(0.95);
    transition: transform 250ms;
  }
  100% {
    // transform: scale(1);
    transition: transform 250ms, opacity 400ms;
  }
}
.item-product {
  font-size: 1.4rem;
  height: 100%;
  position: relative;
  &__icon-hear {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 10;
  }
  &__category {
    font-size: 1.2rem;
    margin-bottom: 5px;
    @media screen and (max-width: 900px) {
      font-size: 1rem;
      margin-bottom: 3px;
    }
  }
  &__name {
    margin-bottom: 5px;
    font-size: 1.4rem !important;
    display: -webkit-box;
    max-width: 185px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media screen and (max-width: 900px) {
      font-size: 1.2rem;
      margin-bottom: 3px;
    }
  }
  &__price {
    color: $error;
    margin-bottom: 5px;
    @media screen and (max-width: 900px) {
      font-size: 1rem;
      margin-bottom: 3px;
    }
    &__unit {
      font-size: 12px;
      text-transform: lowercase;
      @media screen and (max-width: 900px) {
        font-size: 1rem;
      }
    }
  }
  &__code {
    font-size: 1rem;
    margin-bottom: 5px;
    @media screen and (max-width: 900px) {
      font-size: 0.8rem;
      margin-bottom: 3px;
    }
  }
  &.fadedClass {
    animation: wobble 0.5s;
  }
}
