@import 'styles/colors.scss';

.product-detail {
  &__priceUnit {
    font-size: 24px;
    &__unit {
      font-weight: normal;
      font-size: 20px;
    }
  }

  &__slick-carousel {
    padding-top: 15px;
    margin-left: -5px;
    margin-right: -5px;
    &__item {
      overflow: hidden;
      padding-left: 5px;
      padding-right: 5px;
    }

    :global {
      .slick-current {
        > div > div > div {
          border: 1px solid $primary;
        }
      }
      .slick-dots {
        bottom: -20px;
      }
    }
  }
}
.text-field-add-to-cart {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
