@import 'styles/colors.scss';
.login-page {
  background-image: url('/images/Background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  align-items: center;
  &__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.step1 {
      min-height: auto;
      max-width: 420px;
      border-radius: 20px;
    }
    &.step2 {
      min-height: 100vh;
      max-width: 550px;
    }
  }
  .login-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 5vh;
  }
  &__sign-in-width {
    display: inline-flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
  }
}
.login-form {
  width: 100%;
  margin-bottom: 30px;
  padding: 0 50px;
}
.link {
  color: rgba($link, 0.7);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
