.input-number {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  :global {
    .MuiInputBase-input {
      border-radius: 20px;

      font-size: 2rem;
      font-weight: 500;
      color: #595959;
      width: 160px;
    }
    .MuiTextField-root {
      width: 100%;
    }
    .MuiOutlinedInput-root {
      border-radius: 8px;
      font-size: 1.4rem;
      overflow: hidden;
      border-color: #e1e6ef;
    }
    .MuiOutlinedInput-notchedOutline {
      border-width: 1px !important;
      border-color: #e1e6ef;
    }
    .MuiInputBase-multiline {
      padding: 0px;
    }
    .MuiInputBase-input {
      padding: 10px 15px;
    }
  }
}
