@import 'styles/colors.scss';
.forgot-password-page {
  background-image: url('/images/Background.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    min-height: 100vh;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
  }
  &__resendOTP {
    color: $primary;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
    &.disable {
      color: $border;
      cursor: default;
      text-decoration: none;
    }
  }
  &__count {
    color: $error;
  }
}
.forgot-password-form {
  width: 100%;
  margin-bottom: 30px;
}
.link {
  color: rgba($link, 0.7);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.reactCodeInput {
  margin-bottom: 20px;
  display: flex !important;
  justify-content: center;

  input {
    outline-color: $primary;
    box-shadow: none;
    &:focus-visible {
      box-shadow: none !important;
    }
  }

  &.error {
    input[value=''] {
      box-shadow: 0 0 0 2px $error;
    }
  }
  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}
