@import 'styles/colors.scss';

.item-product {
  font-size: 1.6rem;
  height: 100%;
  &__category {
    font-size: 1.4rem;
  }
  &__name {
    margin-bottom: 5px;
    font-size: 1.6rem;
  }
  &__price {
    color: $error;
    margin-bottom: 5px;
    &__unit {
      font-size: 14px;
      text-transform: lowercase;
    }
  }
  &__code {
    font-size: 1rem;
  }
}
