@import 'styles/colors.scss';

.item-product {
  font-size: 1.6rem;
  height: 100%;
  &__category {
    color: $primary;
  }
  &__name {
    margin-bottom: 5px;
  }
  &__price {
    color: $error;
    margin-bottom: 5px;
  }
  &__code {
    font-size: 1rem;
  }
}
