.form-search {
  position: relative;
  width: 100%;
  border: 1px solid #e1e6ef;
  border-radius: 8px;
  &__button {
    position: absolute !important;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
  }
}
